/* Configuração geral */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#061c3b;
    color:white;
}

/* Cabeçalho */
header{
    background:#002b5c;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    color:#FFD700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#FFD700;
}

/* Banner */
.banner{
   .banner{
    height:450px;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e");
    background-size:cover;
    background-position:center;
}
}

.banner h2{
    font-size:50px;
}

.banner p{
    font-size:22px;
    margin-top:10px;
}

/* Conteúdo */
main{
    width:90%;
    margin:40px auto;
}

/* Rodapé */
footer{
    background:#00152d;
    padding:20px;
    text-align:center;
    margin-top:50px;
}
header h1{
    color:white;
    font-size:32px;
    letter-spacing:1px;

header h1 span{
    color:#FFD700;
}